.half-width{
	width:50%;
}

.quarter-width{
	width:25%;
}

.third-width{
	width:33.33%;
}

.default-margin-top{
	margin-top:20px;
}

.default-margin-bottom{
	margin-bottom:20px;
}

.half-margin-top{
	margin-top:10px;
}

.half-margin-bottom{
	margin-bottom:10px;
}

.quarter-margin-top{
	margin-top:5px;
}

.quater-margin-left{
	margin-left:5px;
}

.no-margin-bottom{
	margin-bottom:0px;
}

.alert-minimal{
	margin-bottom:0px;
	padding:3px 3px 3px 10px;
}

.color-red{
	color:red;
}

.color-green{
	color:green;
}

.hidden{
	display:none;
}

.navbar{
	border-radius:0px;
	min-height:35px;
}

.btn-logout, .btn-login, .btn-register{
	margin-top:8px;
}

.panel-body{
	padding:5px;
}

.table-bordered-only-top-bottom{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-left:none;
	border-right:none;
}