body{
	font-size:13px;
}

th{
	font-size:12px;
}

.half-width{
	width:50%;
}

.quarter-width{
	width:25%;
}

.third-width{
	width:33.33%;
}

.default-margin-top{
	margin-top:20px;
}

.default-margin-bottom{
	margin-bottom:20px;
}

.half-margin-top{
	margin-top:10px;
}

.half-margin-bottom{
	margin-bottom:10px;
}

.quarter-margin-bottom{
	margin-bottom:5px;
}

.quarter-margin-top{
	margin-top:5px;
}

.quater-margin-left{
	margin-left:5px;
}

.no-margin-top{
	margin-top:none;
}

.no-margin-bottom{
	margin-bottom:0px;
}

.list-group-item.reduced-padding{
	padding:2px 10px;
}

.alert-minimal{
	margin-bottom:0px;
	padding:3px 3px 3px 10px;
}

.color-red{
	color:red;
}

.color-green{
	color:green;
}

.hidden{
	display:none;
}

.navbar{
	border-radius:0px;
	min-height:35px;
}

.navbar-inverse{
	background-color:#253237;
	border-color:#080808;
}

.btn-logout, .btn-login, .btn-register{
	margin-top:8px;
}

.panel-body{
	padding:5px;
}

.table-bordered-only-top-bottom{
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-left:none;
	border-right:none;
}

.table-bordered-only-bottom{
	border-top:none;
	border-bottom:1px solid #ddd;
	border-left:none;
	border-right:none;
}

.table-striped > tbody > tr:nth-of-type(odd).table-row-active,
.table-striped > tbody > tr:nth-of-type(even).table-row-active{
	background-color:#CFCFCF;
}