body{
	font-size:13px;
}

th{
	font-size:12px;
}

.side-by-side{
	vertical-align:absbottom; 
	display:inline;
}

.half-width{
	width:50%;
}

.quarter-width{
	width:25%;
}

.third-width{
	width:33.33%;
}

.default-margin-top{
	margin-top:20px;
}

.default-margin-bottom{
	margin-bottom:20px;
}

.three-quarter-margin-top{
	margin-bottom:15px;
}

.three-quarter-margin-bottom{
	margin-bottom:15px;
}

.half-margin-top{
	margin-top:10px;
}

.half-margin-bottom{
	margin-bottom:10px;
}

.quarter-margin-bottom{
	margin-bottom:5px;
}

.quarter-margin-top{
	margin-top:5px;
}

.quater-margin-left{
	margin-left:5px;
}

.quater-margin-right{
	margin-right:5px;
}

.single-pixel-top-margin{
	margin-top:1px;
}

.no-margin-top{
	margin-top:none;
}

.no-margin-left{
	margin-top:left;
}

.no-margin-right{
	margin-top:right;
}

.no-margin-bottom{
	margin-bottom:0px;
}

.no-padding{
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}

.1px-padding-left-right{
	padding-left:1px !important;
	padding-right:1px !important;
}

.5px-padding-left-right{
	padding-left:5px !important;
	padding-right:5px !important;
}

.metrics-table.table > tbody > tr > td{
	padding:5px;
	cursor:default;
}

.col-left-right-20px-padding{
	padding-left:20px;
	padding-right:20px;
}

.list-group-item.reduced-padding{
	padding:2px 10px;
}

.alert-minimal{
	margin-bottom:0px;
	padding:3px 3px 3px 10px;
}

.glyphicon-remove{
	color:red;
}

.color-red{
	color:red;
}

.color-green{
	color:green;
}

.has-error{
	border:1px solid #a94442;
	background-color:#FFC3BD;
}

.hidden{
	display:none;
}

.btn-logout, .btn-login, .btn-register{
	margin-top:8px;
}

.btn-row{
	padding:0px 3px;
}

.panel{
	border-color:#2e3e44;
}

.panel-body{
	padding:5px;
}

.table-bordered-only-top-bottom{
	border-top:1px solid #263338;
	border-bottom:1px solid #263338;
	border-left:none;
	border-right:none;
}

.table-bordered-only-bottom{
	border-top:none;
	border-bottom:1px solid #263338;
	border-left:none;
	border-right:none;
}

.table-striped > tbody > tr:nth-of-type(odd).table-row-active,
.table-striped > tbody > tr:nth-of-type(even).table-row-active{
	background-color:#D9E0DC;
}

.navbar {
	border-radius:0px;
	background-image:none;
}

.navbar-inverse{
	background-color:#2e3e44;
}

.navbar-default{
	background-color:#D9E0DC;
}

.stocks-page-header{
	font-size:22px;
	font-weight:bold;
	margin-top:12px;
	margin-bottom:-35px;
}

.stocks-page-nav-tabs{
	margin-left:2px;
	border:none;
}

.stocks-page-nav-tabs > li > a{
	color:#555;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover{
	border-color:#2e3e44;
	border-bottom-color: transparent;
}

@media(min-width: 768px){
	.no-padding-left{
		padding-left:0px;
	}
}